
@font-face {
  font-family: "Questrial";
  src: local("Questrial"), url(./assets/fonts/Questrial-Regular.ttf) format("truetype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Questrial' !important;
}

